# Install packages to work with PostgreSQL DB
* ipython-sql ==> enable SQL commands to work in Jupyter notebook environments
* psycopg-2 ==> the package to connect with postgreSQL database

In [1]:
!pip install ipython-sql psycopg2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in /home/anup/.local/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: psycopg2 in /home/anup/.local/lib/python3.10/site-packages (2.9.10)
Requirement already satisfied: prettytable in /home/anup/.local/lib/python3.10/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /home/anup/.local/lib/python3.10/site-packages (from ipython-sql) (8.26.0)
Requirement already satisfied: sqlalchemy>=2.0 in /home/anup/.local/lib/python3.10/site-packages (from ipython-sql) (2.0.37)
Requirement already satisfied: sqlparse in /home/anup/.local/lib/python3.10/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /home/anup/.local/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/anup/.local/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/anup/.local/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: decorator in /usr/lib/python3/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: jedi>=0.16 in /home/anup/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /home/anup/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /home/anup/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in /usr/lib/python3/dist-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: stack-data in /home/anup/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /home/anup/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in /home/anup/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /usr/lib/python3/dist-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /home/anup/.local/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/anup/.local/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in /home/anup/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /home/anup/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /home/anup/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

[notice] A new release of pip is available: 23.3.2 -> 25.0
[notice] To update, run: pip install --upgrade pip

# Activate the SQL environment

In [2]:
%load_ext sql

# Connect to postgresql database
* These exercises use the testdb.sql database that was provided
* Make sure to have postgresql installed on your machines
* the following command assumes that you have created a test database named "testdb" by running
``` postgres=# create database testdb;```
* import the test database provided (testdb.sql) into the newly created testdb database by running the following command from command line. It assumes "postgres" as the database user. Enter the password if you have any.
``` psql -U postgres -W -d testdb -f testdb.sql```

Note: If you have a password for your database, then replace the following command with
```%sql postgresql://<username>:<password>@<host>:<port>/<database>```

In [9]:
%sql postgresql://postgres:postgresman30@localhost:5432/testdb

# Basic Query Structure

A typical SQL query has the following form:
```
select A_1, A_2,...,A_n
from R_1, R_2,..R_m
where P
```
Here
- $A_i$ represents an attribute
- $R_i$ represents a relation (table)
- $P$ is a predicate

The result of an SQL query is a relation (table)

### The select clause
- The **select** clause lists the attributes desired in the result of a query
    - corresponds to the projection operation $\pi$ of relational algebra

**Query:** Retrieve first and last name of all actors

In [17]:
%sql --style DEFAULT select first_name, last_name from actor;

 * postgresql://postgres:***@localhost:5432/testdb

In [18]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [19]:
!pip install prettytable

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: prettytable in /home/anup/.local/lib/python3.10/site-packages (3.12.0)
Requirement already satisfied: wcwidth in /home/anup/.local/lib/python3.10/site-packages (from prettytable) (0.2.13)

[notice] A new release of pip is available: 23.3.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [20]:
!pip install sqlalchemy ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in /home/anup/.local/lib/python3.10/site-packages (2.0.37)
Requirement already satisfied: ipython-sql in /home/anup/.local/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/anup/.local/lib/python3.10/site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/anup/.local/lib/python3.10/site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: prettytable in /home/anup/.local/lib/python3.10/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /home/anup/.local/lib/python3.10/site-packages (from ipython-sql) (8.26.0)
Requirement already satisfied: sqlparse in /home/anup/.local/lib/python3.10/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /home/anup/.local/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /usr/lib/python3/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: jedi>=0.16 in /home/anup/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /home/anup/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /home/anup/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in /usr/lib/python3/dist-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: stack-data in /home/anup/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /home/anup/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in /home/anup/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /usr/lib/python3/dist-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /home/anup/.local/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/anup/.local/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in /home/anup/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /home/anup/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /home/anup/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

[notice] A new release of pip is available: 23.3.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [4]:
import prettytable
import sqlalchemy

prettytable.__dict__['DEFAULT'] = prettytable.DEFAULT

%config SqlMagic.style ='default'

/tmp/ipykernel_62789/102533596.py:4: DeprecationWarning: the 'DEFAULT' constant is deprecated, use the 'TableStyle' enum instead
  prettytable.__dict__['DEFAULT'] = prettytable.DEFAULT

In [5]:
%sql select first_name, last_name from actor;

Traceback (most recent call last):
  File "/home/anup/.local/lib/python3.10/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "/home/anup/.local/lib/python3.10/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

*Note* SQL names are case insensitive (you may use upper- or lower-case letters)

In [10]:
%sql select FIRST_NAME, last_Name from actor;

 * postgresql://postgres:***@localhost:5432/testdb
200 rows affected.

[('Penelope', 'Guiness'),
 ('Nick', 'Wahlberg'),
 ('Ed', 'Chase'),
 ('Jennifer', 'Davis'),
 ('Johnny', 'Lollobrigida'),
 ('Bette', 'Nicholson'),
 ('Grace', 'Mostel'),
 ('Matthew', 'Johansson'),
 ('Joe', 'Swank'),
 ('Christian', 'Gable'),
 ('Zero', 'Cage'),
 ('Karl', 'Berry'),
 ('Uma', 'Wood'),
 ('Vivien', 'Bergen'),
 ('Cuba', 'Olivier'),
 ('Fred', 'Costner'),
 ('Helen', 'Voight'),
 ('Dan', 'Torn'),
 ('Bob', 'Fawcett'),
 ('Lucille', 'Tracy'),
 ('Kirsten', 'Paltrow'),
 ('Elvis', 'Marx'),
 ('Sandra', 'Kilmer'),
 ('Cameron', 'Streep'),
 ('Kevin', 'Bloom'),
 ('Rip', 'Crawford'),
 ('Julia', 'Mcqueen'),
 ('Woody', 'Hoffman'),
 ('Alec', 'Wayne'),
 ('Sandra', 'Peck'),
 ('Sissy', 'Sobieski'),
 ('Tim', 'Hackman'),
 ('Milla', 'Peck'),
 ('Audrey', 'Olivier'),
 ('Judy', 'Dean'),
 ('Burt', 'Dukakis'),
 ('Val', 'Bolger'),
 ('Tom', 'Mckellen'),
 ('Goldie', 'Brody'),
 ('Johnny', 'Cage'),
 ('Jodie', 'Degeneres'),
 ('Tom', 'Miranda'),
 ('Kirk', 'Jovovich'),
 ('Nick', 'Stallone'),
 ('Reese', 'Kilmer'),
 ('Parker', 'Goldberg'),
 ('Julia', 'Barrymore'),
 ('Frances', 'Day-Lewis'),
 ('Anne', 'Cronyn'),
 ('Natalie', 'Hopkins'),
 ('Gary', 'Phoenix'),
 ('Carmen', 'Hunt'),
 ('Mena', 'Temple'),
 ('Penelope', 'Pinkett'),
 ('Fay', 'Kilmer'),
 ('Dan', 'Harris'),
 ('Jude', 'Cruise'),
 ('Christian', 'Akroyd'),
 ('Dustin', 'Tautou'),
 ('Henry', 'Berry'),
 ('Christian', 'Neeson'),
 ('Jayne', 'Neeson'),
 ('Cameron', 'Wray'),
 ('Ray', 'Johansson'),
 ('Angela', 'Hudson'),
 ('Mary', 'Tandy'),
 ('Jessica', 'Bailey'),
 ('Rip', 'Winslet'),
 ('Kenneth', 'Paltrow'),
 ('Michelle', 'Mcconaughey'),
 ('Adam', 'Grant'),
 ('Sean', 'Williams'),
 ('Gary', 'Penn'),
 ('Milla', 'Keitel'),
 ('Burt', 'Posey'),
 ('Angelina', 'Astaire'),
 ('Cary', 'Mcconaughey'),
 ('Groucho', 'Sinatra'),
 ('Mae', 'Hoffman'),
 ('Ralph', 'Cruz'),
 ('Scarlett', 'Damon'),
 ('Woody', 'Jolie'),
 ('Ben', 'Willis'),
 ('James', 'Pitt'),
 ('Minnie', 'Zellweger'),
 ('River', 'Dean'),
 ('Greg', 'Chaplin'),
 ('Spencer', 'Peck'),
 ('Kenneth', 'Pesci'),
 ('Charlize', 'Dench'),
 ('Sean', 'Guiness'),
 ('Christopher', 'Berry'),
 ('Kirsten', 'Akroyd'),
 ('Ellen', 'Presley'),
 ('Kenneth', 'Torn'),
 ('Daryl', 'Wahlberg'),
 ('Gene', 'Willis'),
 ('Meg', 'Hawke'),
 ('Chris', 'Bridges'),
 ('Jim', 'Mostel'),
 ('Spencer', 'Depp'),
 ('Susan', 'Davis'),
 ('Walter', 'Torn'),
 ('Matthew', 'Leigh'),
 ('Penelope', 'Cronyn'),
 ('Sidney', 'Crowe'),
 ('Groucho', 'Dunst'),
 ('Gina', 'Degeneres'),
 ('Warren', 'Nolte'),
 ('Sylvester', 'Dern'),
 ('Susan', 'Davis'),
 ('Cameron', 'Zellweger'),
 ('Russell', 'Bacall'),
 ('Morgan', 'Hopkins'),
 ('Morgan', 'Mcdormand'),
 ('Harrison', 'Bale'),
 ('Dan', 'Streep'),
 ('Renee', 'Tracy'),
 ('Cuba', 'Allen'),
 ('Warren', 'Jackman'),
 ('Penelope', 'Monroe'),
 ('Liza', 'Bergman'),
 ('Salma', 'Nolte'),
 ('Julianne', 'Dench'),
 ('Scarlett', 'Bening'),
 ('Albert', 'Nolte'),
 ('Frances', 'Tomei'),
 ('Kevin', 'Garland'),
 ('Cate', 'Mcqueen'),
 ('Daryl', 'Crawford'),
 ('Greta', 'Keitel'),
 ('Jane', 'Jackman'),
 ('Adam', 'Hopper'),
 ('Richard', 'Penn'),
 ('Gene', 'Hopkins'),
 ('Rita', 'Reynolds'),
 ('Ed', 'Mansfield'),
 ('Morgan', 'Williams'),
 ('Lucille', 'Dee'),
 ('Ewan', 'Gooding'),
 ('Whoopi', 'Hurt'),
 ('Cate', 'Harris'),
 ('Jada', 'Ryder'),
 ('Angela', 'Witherspoon'),
 ('Kim', 'Allen'),
 ('Albert', 'Johansson'),
 ('Fay', 'Winslet'),
 ('Emily', 'Dee'),
 ('Russell', 'Temple'),
 ('Jayne', 'Nolte'),
 ('Geoffrey', 'Heston'),
 ('Ben', 'Harris'),
 ('Minnie', 'Kilmer'),
 ('Meryl', 'Gibson'),
 ('Ian', 'Tandy'),
 ('Fay', 'Wood'),
 ('Greta', 'Malden'),
 ('Vivien', 'Basinger'),
 ('Laura', 'Brody'),
 ('Chris', 'Depp'),
 ('Harvey', 'Hope'),
 ('Oprah', 'Kilmer'),
 ('Christopher', 'West'),
 ('Humphrey', 'Willis'),
 ('Al', 'Garland'),
 ('Nick', 'Degeneres'),
 ('Laurence', 'Bullock'),
 ('Will', 'Wilson'),
 ('Kenneth', 'Hoffman'),
 ('Mena', 'Hopper'),
 ('Olympia', 'Pfeiffer'),
 ('Groucho', 'Williams'),
 ('Alan', 'Dreyfuss'),
 ('Michael', 'Bening'),
 ('William', 'Hackman'),
 ('Jon', 'Chase'),
 ('Gene', 'Mckellen'),
 ('Lisa', 'Monroe'),
 ('Ed', 'Guiness'),
 ('Jeff', 'Silverstone'),
 ('Matthew', 'Carrey'),
 ('Debbie', 'Akroyd'),
 ('Russell', 'Close'),
 ('Humphrey', 'Garland'),
 ('Michael', 'Bolger'),
 ('Julia', 'Zellweger'),
 ('Renee', 'Ball'),
 ('Rock', 'Dukakis'),
 ('Cuba', 'Birch'),
 ('Audrey', 'Bailey'),
 ('Gregory', 'Gooding'),
 ('John', 'Suvari'),
 ('Burt', 'Temple'),
 ('Meryl', 'Allen'),
 ('Jayne', 'Silverstone'),
 ('Bela', 'Walken'),
 ('Reese', 'West'),
 ('Mary', 'Keitel'),
 ('Julia', 'Fawcett'),
 ('Thora', 'Temple')]

**Query:** List names of all films and their descriptions

In [24]:
%sql select title, description from film;

 * postgresql://postgres:***@localhost:5432/testdb
1000 rows affected.

[('Chamber Italian', 'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria'),
 ('Grosse Wonderful', 'A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia'),
 ('Airport Pollock', 'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India'),
 ('Bright Encounters', 'A Fateful Yarn of a Lumberjack And a Feminist who must Conquer a Student in A Jet Boat'),
 ('Academy Dinosaur', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies'),
 ('Ace Goldfinger', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China'),
 ('Adaptation Holes', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory'),
 ('Affair Prejudice', 'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank'),
 ('African Egg', 'A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico'),
 ('Agent Truman', 'A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China'),
 ('Airplane Sierra', 'A Touching Saga of a Hunter And a Butler who must Discover a Butler in A Jet Boat'),
 ('Alabama Devil', 'A Thoughtful Panorama of a Database Administrator And a Mad Scientist who must Outgun a Mad Scientist in A Jet Boat'),
 ('Aladdin Calendar', 'A Action-Packed Tale of a Man And a Lumberjack who must Reach a Feminist in Ancient China'),
 ('Alamo Videotape', 'A Boring Epistle of a Butler And a Cat who must Fight a Pastry Chef in A MySQL Convention'),
 ('Alaska Phantom', 'A Fanciful Saga of a Hunter And a Pastry Chef who must Vanquish a Boy in Australia'),
 ('Date Speed', 'A Touching Saga of a Composer And a Moose who must Discover a Dentist in A MySQL Convention'),
 ('Ali Forever', 'A Action-Packed Drama of a Dentist And a Crocodile who must Battle a Feminist in The Canadian Rockies'),
 ('Alice Fantasia', 'A Emotional Drama of a A Shark And a Database Administrator who must Vanquish a Pioneer in Soviet Georgia'),
 ('Alien Center', 'A Brilliant Drama of a Cat And a Mad Scientist who must Battle a Feminist in A MySQL Convention'),
 ('Alley Evolution', 'A Fast-Paced Drama of a Robot And a Composer who must Battle a Astronaut in New Orleans'),
 ('Alone Trip', 'A Fast-Paced Character Study of a Composer And a Dog who must Outgun a Boat in An Abandoned Fun House'),
 ('Alter Victory', 'A Thoughtful Drama of a Composer And a Feminist who must Meet a Secret Agent in The Canadian Rockies'),
 ('Amadeus Holy', 'A Emotional Display of a Pioneer And a Technical Writer who must Battle a Man in A Baloon'),
 ('Amelie Hellfighters', 'A Boring Drama of a Woman And a Squirrel who must Conquer a Student in A Baloon'),
 ('American Circus', 'A Insightful Drama of a Girl And a Astronaut who must Face a Database Administrator in A Shark Tank'),
 ('Amistad Midsummer', 'A Emotional Character Study of a Dentist And a Crocodile who must Meet a Sumo Wrestler in California'),
 ('Anaconda Confessions', 'A Lacklusture Display of a Dentist And a Dentist who must Fight a Girl in Australia'),
 ('Analyze Hoosiers', 'A Thoughtful Display of a Explorer And a Pastry Chef who must Overcome a Feminist in The Sahara Desert'),
 ('Angels Life', 'A Thoughtful Display of a Woman And a Astronaut who must Battle a Robot in Berlin'),
 ('Annie Identity', 'A Amazing Panorama of a Pastry Chef And a Boat who must Escape a Woman in An Abandoned Amusement Park'),
 ('Anonymous Human', 'A Amazing Reflection of a Database Administrator And a Astronaut who must Outrace a Database Administrator in A Shark Tank'),
 ('Anthem Luke', 'A Touching Panorama of a Waitress And a Woman who must Outrace a Dog in An Abandoned Amusement Park'),
 ('Antitrust Tomatoes', 'A Fateful Yarn of a Womanizer And a Feminist who must Succumb a Database Administrator in Ancient India'),
 ('Anything Savannah', 'A Epic Story of a Pastry Chef And a Woman who must Chase a Feminist in An Abandoned Fun House'),
 ('Apache Divine', 'A Awe-Inspiring Reflection of a Pastry Chef And a Teacher who must Overcome a Sumo Wrestler in A U-Boat'),
 ('Apocalypse Flamingos', 'A Astounding Story of a Dog And a Squirrel who must Defeat a Woman in An Abandoned Amusement Park'),
 ('Apollo Teen', 'A Action-Packed Reflection of a Crocodile And a Explorer who must Find a Sumo Wrestler in An Abandoned Mine Shaft'),
 ('Arabia Dogma', 'A Touching Epistle of a Madman And a Mad Cow who must Defeat a Student in Nigeria'),
 ('Arachnophobia Rollercoaster', 'A Action-Packed Reflection of a Pastry Chef And a Composer who must Discover a Mad Scientist in The First Manned Space Station'),
 ('Argonauts Town', 'A Emotional Epistle of a Forensic Psychologist And a Butler who must Challenge a Waitress in An Abandoned Mine Shaft'),
 ('Arizona Bang', 'A Brilliant Panorama of a Mad Scientist And a Mad Cow who must Meet a Pioneer in A Monastery'),
 ('Ark Ridgemont', 'A Beautiful Yarn of a Pioneer And a Monkey who must Pursue a Explorer in The Sahara Desert'),
 ('Armageddon Lost', 'A Fast-Paced Tale of a Boat And a Teacher who must Succumb a Composer in An Abandoned Mine Shaft'),
 ('Army Flintstones', 'A Boring Saga of a Database Administrator And a Womanizer who must Battle a Waitress in Nigeria'),
 ('Arsenic Independence', 'A Fanciful Documentary of a Mad Cow And a Womanizer who must Find a Dentist in Berlin'),
 ('Artist Coldblooded', 'A Stunning Reflection of a Robot And a Moose who must Challenge a Woman in California'),
 ('Dying Maker', 'A Intrepid Tale of a Boat And a Monkey who must Kill a Cat in California'),
 ('Atlantis Cause', 'A Thrilling Yarn of a Feminist And a Hunter who must Fight a Technical Writer in A Shark Tank'),
 ('Attacks Hate', 'A Fast-Paced Panorama of a Technical Writer And a Mad Scientist who must Find a Feminist in An Abandoned Mine Shaft'),
 ('Attraction Newton', 'A Astounding Panorama of a Composer And a Frisbee who must Reach a Husband in Ancient Japan'),
 ('Autumn Crow', 'A Beautiful Tale of a Dentist And a Mad Cow who must Battle a Moose in The Sahara Desert'),
 ('Baby Hall', 'A Boring Character Study of a A Shark And a Girl who must Outrace a Feminist in An Abandoned Mine Shaft'),
 ('Backlash Undefeated', 'A Stunning Character Study of a Mad Scientist And a Mad Cow who must Kill a Car in A Monastery'),
 ('Badman Dawn', 'A Emotional Panorama of a Pioneer And a Composer who must Escape a Mad Scientist in A Jet Boat'),
 ('Baked Cleopatra', 'A Stunning Drama of a Forensic Psychologist And a Husband who must Overcome a Waitress in A Monastery'),
 ('Casualties Encino', 'A Insightful Yarn of a A Shark And a Pastry Chef who must Face a Boy in A Monastery'),
 ('Balloon Homeward', 'A Insightful Panorama of a Forensic Psychologist And a Mad Cow who must Build a Mad Scientist in The First Manned Space Station'),
 ('Ballroom Mockingbird', 'A Thrilling Documentary of a Composer And a Monkey who must Find a Feminist in California'),
 ('Bang Kwai', 'A Epic Drama of a Madman And a Cat who must Face a A Shark in An Abandoned Amusement Park'),
 ('Banger Pinocchio', 'A Awe-Inspiring Drama of a Car And a Pastry Chef who must Chase a Crocodile in The First Manned Space Station'),
 ('Barbarella Streetcar', 'A Awe-Inspiring Story of a Feminist And a Cat who must Conquer a Dog in A Monastery'),
 ('Barefoot Manchurian', 'A Intrepid Story of a Cat And a Student who must Vanquish a Girl in An Abandoned Amusement Park'),
 ('Basic Easy', 'A Stunning Epistle of a Man And a Husband who must Reach a Mad Scientist in A Jet Boat'),
 ('Beach Heartbreakers', 'A Fateful Display of a Womanizer And a Mad Scientist who must Outgun a A Shark in Soviet Georgia'),
 ('Bear Graceland', 'A Astounding Saga of a Dog And a Boy who must Kill a Teacher in The First Manned Space Station'),
 ('Beast Hunchback', 'A Awe-Inspiring Epistle of a Student And a Squirrel who must Defeat a Boy in Ancient China'),
 ('Beauty Grease', 'A Fast-Paced Display of a Composer And a Moose who must Sink a Robot in An Abandoned Mine Shaft'),
 ('Bed Highball', 'A Astounding Panorama of a Lumberjack And a Dog who must Redeem a Woman in An Abandoned Fun House'),
 ('Bedazzled Married', 'A Astounding Character Study of a Madman And a Robot who must Meet a Mad Scientist in An Abandoned Fun House'),
 ('Beethoven Exorcist', 'A Epic Display of a Pioneer And a Student who must Challenge a Butler in The Gulf of Mexico'),
 ('Behavior Runaway', 'A Unbelieveable Drama of a Student And a Husband who must Outrace a Sumo Wrestler in Berlin'),
 ('Beneath Rush', 'A Astounding Panorama of a Man And a Monkey who must Discover a Man in The First Manned Space Station'),
 ('Berets Agent', 'A Taut Saga of a Crocodile And a Boy who must Overcome a Technical Writer in Ancient China'),
 ('Betrayed Rear', 'A Emotional Character Study of a Boat And a Pioneer who must Find a Explorer in A Shark Tank'),
 ('Beverly Outlaw', 'A Fanciful Documentary of a Womanizer And a Boat who must Defeat a Madman in The First Manned Space Station'),
 ('Bikini Borrowers', 'A Astounding Drama of a Astronaut And a Cat who must Discover a Woman in The First Manned Space Station'),
 ('Bilko Anonymous', 'A Emotional Reflection of a Teacher And a Man who must Meet a Cat in The First Manned Space Station'),
 ('Bill Others', 'A Stunning Saga of a Mad Scientist And a Forensic Psychologist who must Challenge a Squirrel in A MySQL Convention'),
 ('Bingo Talented', 'A Touching Tale of a Girl And a Crocodile who must Discover a Waitress in Nigeria'),
 ('Birch Antitrust', 'A Fanciful Panorama of a Husband And a Pioneer who must Outgun a Dog in A Baloon'),
 ('Bird Independence', 'A Thrilling Documentary of a Car And a Student who must Sink a Hunter in The Canadian Rockies'),
 ('Birdcage Casper', 'A Fast-Paced Saga of a Frisbee And a Astronaut who must Overcome a Feminist in Ancient India'),
 ('Birds Perdition', 'A Boring Story of a Womanizer And a Pioneer who must Face a Dog in California'),
 ('Blackout Private', 'A Intrepid Yarn of a Pastry Chef And a Mad Scientist who must Challenge a Secret Agent in Ancient Japan'),
 ('Blade Polish', 'A Thoughtful Character Study of a Frisbee And a Pastry Chef who must Fight a Dentist in The First Manned Space Station'),
 ('Blanket Beverly', 'A Emotional Documentary of a Student And a Girl who must Build a Boat in Nigeria'),
 ('Blindness Gun', 'A Touching Drama of a Robot And a Dentist who must Meet a Hunter in A Jet Boat'),
 ('Blood Argonauts', 'A Boring Drama of a Explorer And a Man who must Kill a Lumberjack in A Manhattan Penthouse'),
 ('Blues Instinct', 'A Insightful Documentary of a Boat And a Composer who must Meet a Forensic Psychologist in An Abandoned Fun House'),
 ('Boiled Dares', 'A Awe-Inspiring Story of a Waitress And a Dog who must Discover a Dentist in Ancient Japan'),
 ('Bonnie Holocaust', 'A Fast-Paced Story of a Crocodile And a Robot who must Find a Moose in Ancient Japan'),
 ('Boogie Amelie', 'A Lacklusture Character Study of a Husband And a Sumo Wrestler who must Succumb a Technical Writer in The Gulf of Mexico'),
 ('Boondock Ballroom', 'A Fateful Panorama of a Crocodile And a Boy who must Defeat a Monkey in The Gulf of Mexico'),
 ('Born Spinal', 'A Touching Epistle of a Frisbee And a Husband who must Pursue a Student in Nigeria'),
 ('Borrowers Bedazzled', 'A Brilliant Epistle of a Teacher And a Sumo Wrestler who must Defeat a Man in An Abandoned Fun House'),
 ('Boulevard Mob', 'A Fateful Epistle of a Moose And a Monkey who must Confront a Lumberjack in Ancient China'),
 ('Bound Cheaper', 'A Thrilling Panorama of a Database Administrator And a Astronaut who must Challenge a Lumberjack in A Baloon'),
 ('Bowfinger Gables', 'A Fast-Paced Yarn of a Waitress And a Composer who must Outgun a Dentist in California'),
 ('Brannigan Sunrise', 'A Amazing Epistle of a Moose And a Crocodile who must Outrace a Dog in Berlin'),
 ('Braveheart Human', 'A Insightful Story of a Dog And a Pastry Chef who must Battle a Girl in Berlin'),
 ('Breakfast Goldfinger', 'A Beautiful Reflection of a Student And a Student who must Fight a Moose in Berlin'),
 ('Breaking Home', 'A Beautiful Display of a Secret Agent And a Monkey who must Battle a Sumo Wrestler in An Abandoned Mine Shaft'),
 ('Bride Intrigue', 'A Epic Tale of a Robot And a Monkey who must Vanquish a Man in New Orleans'),
 ('Bringing Hysterical', 'A Fateful Saga of a A Shark And a Technical Writer who must Find a Woman in A Jet Boat'),
 ('Brooklyn Desert', 'A Beautiful Drama of a Dentist And a Composer who must Battle a Sumo Wrestler in The First Manned Space Station'),
 ('Brotherhood Blanket', 'A Fateful Character Study of a Butler And a Technical Writer who must Sink a Astronaut in Ancient Japan'),
 ('Bubble Grosse', 'A Awe-Inspiring Panorama of a Crocodile And a Moose who must Confront a Girl in A Baloon'),
 ('Bucket Brotherhood', 'A Amazing Display of a Girl And a Womanizer who must Succumb a Lumberjack in A Baloon Factory'),
 ('Bugsy Song', 'A Awe-Inspiring Character Study of a Secret Agent And a Boat who must Find a Squirrel in The First Manned Space Station'),
 ('Bull Shawshank', 'A Fanciful Drama of a Moose And a Squirrel who must Conquer a Pioneer in The Canadian Rockies'),
 ('Bulworth Commandments', 'A Amazing Display of a Mad Cow And a Pioneer who must Redeem a Sumo Wrestler in The Outback'),
 ('Bunch Minds', 'A Emotional Story of a Feminist And a Feminist who must Escape a Pastry Chef in A MySQL Convention'),
 ('Butch Panther', 'A Lacklusture Yarn of a Feminist And a Database Administrator who must Face a Hunter in New Orleans'),
 ('Butterfly Chocolat', 'A Fateful Story of a Girl And a Composer who must Conquer a Husband in A Shark Tank'),
 ('Cabin Flash', 'A Stunning Epistle of a Boat And a Man who must Challenge a A Shark in A Baloon Factory'),
 ('Caddyshack Jedi', 'A Awe-Inspiring Epistle of a Woman And a Madman who must Fight a Robot in Soviet Georgia'),
 ('Calendar Gunfight', 'A Thrilling Drama of a Frisbee And a Lumberjack who must Sink a Man in Nigeria'),
 ('California Birds', 'A Thrilling Yarn of a Database Administrator And a Robot who must Battle a Database Administrator in Ancient India'),
 ('Camelot Vacation', 'A Touching Character Study of a Woman And a Waitress who must Battle a Pastry Chef in A MySQL Convention'),
 ('Campus Remember', 'A Astounding Drama of a Crocodile And a Mad Cow who must Build a Robot in A Jet Boat'),
 ('Candidate Perdition', 'A Brilliant Epistle of a Composer And a Database Administrator who must Vanquish a Mad Scientist in The First Manned Space Station'),
 ('Candles Grapes', 'A Fanciful Character Study of a Monkey And a Explorer who must Build a Astronaut in An Abandoned Fun House'),
 ('Canyon Stock', 'A Thoughtful Reflection of a Waitress And a Feminist who must Escape a Squirrel in A Manhattan Penthouse'),
 ('Caper Motions', 'A Fateful Saga of a Moose And a Car who must Pursue a Woman in A MySQL Convention'),
 ('Caribbean Liberty', 'A Fanciful Tale of a Pioneer And a Technical Writer who must Outgun a Pioneer in A Shark Tank'),
 ('Carol Texas', 'A Astounding Character Study of a Composer And a Student who must Overcome a Composer in A Monastery'),
 ('Carrie Bunch', 'A Amazing Epistle of a Student And a Astronaut who must Discover a Frisbee in The Canadian Rockies'),
 ('Casablanca Super', 'A Amazing Panorama of a Crocodile And a Forensic Psychologist who must Pursue a Secret Agent in The First Manned Space Station'),
 ('Casper Dragonfly', 'A Intrepid Documentary of a Boat And a Crocodile who must Chase a Robot in The Sahara Desert'),
 ('Cassidy Wyoming', 'A Intrepid Drama of a Frisbee And a Hunter who must Kill a Secret Agent in New Orleans'),
 ('Cat Coneheads', 'A Fast-Paced Panorama of a Girl And a A Shark who must Confront a Boy in Ancient India'),
 ('Catch Amistad', 'A Boring Reflection of a Lumberjack And a Feminist who must Discover a Woman in Nigeria'),
 ('Cause Date', 'A Taut Tale of a Explorer And a Pastry Chef who must Conquer a Hunter in A MySQL Convention'),
 ('Celebrity Horn', 'A Amazing Documentary of a Secret Agent And a Astronaut who must Vanquish a Hunter in A Shark Tank'),
 ('Center Dinosaur', 'A Beautiful Character Study of a Sumo Wrestler And a Dentist who must Find a Dog in California'),
 ('Chainsaw Uptown', 'A Beautiful Documentary of a Boy And a Robot who must Discover a Squirrel in Australia'),
 ('Champion Flatliners', 'A Amazing Story of a Mad Cow And a Dog who must Kill a Husband in A Monastery'),
 ('Chance Resurrection', 'A Astounding Story of a Forensic Psychologist And a Forensic Psychologist who must Overcome a Moose in Ancient China'),
 ('Clash Freddy', 'A Amazing Yarn of a Composer And a Squirrel who must Escape a Astronaut in Australia'),
 ('Chaplin License', 'A Boring Drama of a Dog And a Forensic Psychologist who must Outrace a Explorer in Ancient India'),
 ('Charade Duffel', 'A Action-Packed Display of a Man And a Waitress who must Build a Dog in A MySQL Convention'),
 ('Chariots Conspiracy', 'A Unbelieveable Epistle of a Robot And a Husband who must Chase a Robot in The First Manned Space Station'),
 ('Chasing Fight', 'A Astounding Saga of a Technical Writer And a Butler who must Battle a Butler in A Shark Tank'),
 ('Cheaper Clyde', 'A Emotional Character Study of a Pioneer And a Girl who must Discover a Dog in Ancient Japan'),
 ('Chicago North', 'A Fateful Yarn of a Mad Cow And a Waitress who must Battle a Student in California'),
 ('Chicken Hellfighters', 'A Emotional Drama of a Dog And a Explorer who must Outrace a Technical Writer in Australia'),
 ('Chill Luck', 'A Lacklusture Epistle of a Boat And a Technical Writer who must Fight a A Shark in The Canadian Rockies'),
 ('Chinatown Gladiator', 'A Brilliant Panorama of a Technical Writer And a Lumberjack who must Escape a Butler in Ancient India'),
 ('Chisum Behavior', 'A Epic Documentary of a Sumo Wrestler And a Butler who must Kill a Car in Ancient India'),
 ('Chitty Lock', 'A Boring Epistle of a Boat And a Database Administrator who must Kill a Sumo Wrestler in The First Manned Space Station'),
 ('Chocolat Harry', 'A Action-Packed Epistle of a Dentist And a Moose who must Meet a Mad Cow in Ancient Japan'),
 ('Chocolate Duck', 'A Unbelieveable Story of a Mad Scientist And a Technical Writer who must Discover a Composer in Ancient China'),
 ('Christmas Moonshine', 'A Action-Packed Epistle of a Feminist And a Astronaut who must Conquer a Boat in A Manhattan Penthouse'),
 ('Cider Desire', 'A Stunning Character Study of a Composer And a Mad Cow who must Succumb a Cat in Soviet Georgia'),
 ('Cincinatti Whisperer', 'A Brilliant Saga of a Pastry Chef And a Hunter who must Confront a Butler in Berlin'),
 ('Circus Youth', 'A Thoughtful Drama of a Pastry Chef And a Dentist who must Pursue a Girl in A Baloon'),
 ('Citizen Shrek', 'A Fanciful Character Study of a Technical Writer And a Husband who must Redeem a Robot in The Outback'),
 ('Cleopatra Devil', 'A Fanciful Documentary of a Crocodile And a Technical Writer who must Fight a A Shark in A Baloon'),
 ('Clerks Angels', 'A Thrilling Display of a Sumo Wrestler And a Girl who must Confront a Man in A Baloon'),
 ('Clockwork Paradise', 'A Insightful Documentary of a Technical Writer And a Feminist who must Challenge a Cat in A Baloon'),
 ('Clones Pinocchio', 'A Amazing Drama of a Car And a Robot who must Pursue a Dentist in New Orleans'),
 ('Closer Bang', 'A Unbelieveable Panorama of a Frisbee And a Hunter who must Vanquish a Monkey in Ancient India'),
 ('Club Graffiti', 'A Epic Tale of a Pioneer And a Hunter who must Escape a Girl in A U-Boat'),
 ('Clue Grail', 'A Taut Tale of a Butler And a Mad Scientist who must Build a Crocodile in Ancient China'),
 ('Clueless Bucket', 'A Taut Tale of a Car And a Pioneer who must Conquer a Sumo Wrestler in An Abandoned Fun House'),
 ('Clyde Theory', 'A Beautiful Yarn of a Astronaut And a Frisbee who must Overcome a Explorer in A Jet Boat'),

**Exercise** Try out these simple queries
1. Show the email addresses of all customers from the `customer` relation
2. List the names of all languages available in the `language` relation
3. Which all ratings can a film have? (try out this query with inserting keyword **distinct** after select to force duplicate elimination)

An asterisks (*) in the select clause denotes "all attributes"

In [ ]:
%sql select * from customer;

An attribute can be literal with no from clause

In [4]:
%sql select '123';

Traceback (most recent call last):
  File "/home/anup/.local/lib/python3.10/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "/home/anup/.local/lib/python3.10/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

You can give the a column a name using

In [ ]:
%sql select '123' as foo;

An attribute can be a literal with a **from** clause

In [ ]:
%sql select '2006' from film;

#### Generalized Projects

- Recall from previous lecture
- The **select** clause can contain arithmetic expressions involving operations +,-,*, and /, and operating on constants or attributes of tuples

Try out the following query

In [ ]:
%%sql select customer_id, payment_date, amount, amount*10 as inflated_amount 
from payment limit 10;

### The Where Clause
- The **where** clause specifies conditions that the result must satisfy
    - Corresponds to the selection predicate ($\theta$) of the relational algebra
- SQL allows the use of the logical connectives `and`, `or`, and `not`
- The operands of the logical connectives can be expressions involving the comparison operators <, <=, >=, =, and <>
- Comparisons can be applied to the results of arithmeric expressions

**Query:**  Find all films that were released in or after 2005

In [ ]:
%%sql
select film_id, title
from film
where release_year >= 2005

**Query:** find all films that are PG-13 rated with rental duration of more than 5 days.

In [ ]:
%%sql select film_id, title
from film
where rating = 'PG-13' and rental_duration > 5

### The from clause
- The **from** clause lists the relations involved in the query
    - Corresponds to the Cartesian product ($\times$) operation of the relational algebra
- Cartesian products are not very useful directly, but useful when combined with `where` clause condition

**Query:** Retrieve information about rentals and corresponding payments made.

In [11]:
%%sql select rental.rental_id, rental.rental_date, payment.amount
from rental, payment
where rental.rental_id = payment.rental_id;

 * postgresql://postgres:***@localhost:5432/testdb
14596 rows affected.

[(1520, datetime.datetime(2005, 6, 15, 23, 57, 20), Decimal('7.99')),
 (1778, datetime.datetime(2005, 6, 16, 18, 54, 48), Decimal('1.99')),
 (1849, datetime.datetime(2005, 6, 17, 0, 13, 19), Decimal('7.99')),
 (2829, datetime.datetime(2005, 6, 19, 21, 11, 30), Decimal('2.99')),
 (3130, datetime.datetime(2005, 6, 20, 19, 3, 22), Decimal('7.99')),
 (3382, datetime.datetime(2005, 6, 21, 14, 5, 23), Decimal('5.99')),
 (2190, datetime.datetime(2005, 6, 18, 1, 29, 51), Decimal('5.99')),
 (2914, datetime.datetime(2005, 6, 20, 3, 43, 18), Decimal('5.99')),
 (3081, datetime.datetime(2005, 6, 20, 15, 29, 13), Decimal('2.99')),
 (1547, datetime.datetime(2005, 6, 16, 1, 42, 24), Decimal('4.99')),
 (1564, datetime.datetime(2005, 6, 16, 2, 47, 7), Decimal('6.99')),
 (1879, datetime.datetime(2005, 6, 17, 2, 57, 34), Decimal('0.99')),
 (1922, datetime.datetime(2005, 6, 17, 6, 4, 25), Decimal('0.99')),
 (2461, datetime.datetime(2005, 6, 18, 19, 58, 12), Decimal('6.99')),
 (2980, datetime.datetime(2005, 6, 20, 8, 35, 3), Decimal('8.99')),
 (3407, datetime.datetime(2005, 6, 21, 16, 14, 2), Decimal('0.99')),
 (1341, datetime.datetime(2005, 6, 15, 12, 26, 18), Decimal('3.99')),
 (1475, datetime.datetime(2005, 6, 15, 21, 8, 1), Decimal('4.99')),
 (1731, datetime.datetime(2005, 6, 16, 15, 32, 12), Decimal('0.99')),
 (1210, datetime.datetime(2005, 6, 15, 2, 57, 51), Decimal('0.99')),
 (1457, datetime.datetime(2005, 6, 15, 20, 5, 49), Decimal('4.99')),
 (1550, datetime.datetime(2005, 6, 16, 1, 58, 35), Decimal('0.99')),
 (2766, datetime.datetime(2005, 6, 19, 17, 45, 15), Decimal('4.99')),
 (1994, datetime.datetime(2005, 6, 17, 11, 7, 6), Decimal('5.99')),
 (3372, datetime.datetime(2005, 6, 21, 13, 34, 19), Decimal('2.99')),
 (3421, datetime.datetime(2005, 6, 21, 17, 22, 58), Decimal('2.99')),
 (1711, datetime.datetime(2005, 6, 16, 14, 11, 52), Decimal('8.99')),
 (2274, datetime.datetime(2005, 6, 18, 6, 31, 15), Decimal('0.99')),
 (3026, datetime.datetime(2005, 6, 20, 11, 48), Decimal('4.99')),
 (3092, datetime.datetime(2005, 6, 20, 16, 4, 42), Decimal('8.99')),
 (3326, datetime.datetime(2005, 6, 21, 9, 4, 50), Decimal('7.99')),
 (1654, datetime.datetime(2005, 6, 16, 9, 42, 48), Decimal('2.99')),
 (2041, datetime.datetime(2005, 6, 17, 14, 19), Decimal('8.99')),
 (2499, datetime.datetime(2005, 6, 18, 23, 1, 36), Decimal('0.99')),
 (1197, datetime.datetime(2005, 6, 15, 1, 42, 46), Decimal('2.99')),
 (1523, datetime.datetime(2005, 6, 16, 0, 18, 40), Decimal('0.99')),
 (2987, datetime.datetime(2005, 6, 20, 8, 55, 50), Decimal('6.99')),
 (3067, datetime.datetime(2005, 6, 20, 13, 59, 21), Decimal('8.99')),
 (2011, datetime.datetime(2005, 6, 17, 11, 56, 9), Decimal('3.99')),
 (2619, datetime.datetime(2005, 6, 19, 8, 3, 12), Decimal('0.99')),
 (3079, datetime.datetime(2005, 6, 20, 15, 13, 40), Decimal('2.99')),
 (3206, datetime.datetime(2005, 6, 21, 0, 39, 39), Decimal('0.99')),
 (1792, datetime.datetime(2005, 6, 16, 20, 4, 50), Decimal('5.99')),
 (1869, datetime.datetime(2005, 6, 17, 2, 8), Decimal('0.99')),
 (2759, datetime.datetime(2005, 6, 19, 17, 10, 24), Decimal('2.99')),
 (1498, datetime.datetime(2005, 6, 15, 21, 58), Decimal('0.99')),
 (1649, datetime.datetime(2005, 6, 16, 9, 20, 33), Decimal('4.99')),
 (1678, datetime.datetime(2005, 6, 16, 11, 8, 28), Decimal('4.99')),
 (1780, datetime.datetime(2005, 6, 16, 19, 11, 45), Decimal('4.99')),
 (3331, datetime.datetime(2005, 6, 21, 9, 37, 53), Decimal('4.99')),
 (1359, datetime.datetime(2005, 6, 15, 13, 30, 30), Decimal('2.99')),
 (1928, datetime.datetime(2005, 6, 17, 6, 48, 31), Decimal('7.99')),
 (3233, datetime.datetime(2005, 6, 21, 2, 39, 31), Decimal('6.99')),
 (1491, datetime.datetime(2005, 6, 15, 21, 48, 18), Decimal('0.99')),
 (2275, datetime.datetime(2005, 6, 18, 6, 31, 29), Decimal('4.99')),
 (2769, datetime.datetime(2005, 6, 19, 17, 52, 14), Decimal('6.99')),
 (3139, datetime.datetime(2005, 6, 20, 19, 44, 45), Decimal('2.99')),
 (1488, datetime.datetime(2005, 6, 15, 21, 39, 54), Decimal('0.99')),
 (1612, datetime.datetime(2005, 6, 16, 6, 52, 5), Decimal('2.99')),
 (1410, datetime.datetime(2005, 6, 15, 16, 59, 46), Decimal('0.99')),
 (2405, datetime.datetime(2005, 6, 18, 16, 36, 38), Decimal('2.99')),
 (2433, datetime.datetime(2005, 6, 18, 18, 10, 17), Decimal('4.99')),
 (1246, datetime.datetime(2005, 6, 15, 5, 11, 19), Decimal('5.99')),
 (1788, datetime.datetime(2005, 6, 16, 19, 47, 18), Decimal('1.99')),
 (1971, datetime.datetime(2005, 6, 17, 9, 23, 59), Decimal('1.99')),
 (2153, datetime.datetime(2005, 6, 17, 22, 58, 4), Decimal('6.99')),
 (1455, datetime.datetime(2005, 6, 15, 19, 51, 6), Decimal('2.99')),
 (1908, datetime.datetime(2005, 6, 17, 5, 10, 36), Decimal('0.99')),
 (2114, datetime.datetime(2005, 6, 17, 20, 0, 25), Decimal('5.99')),
 (2721, datetime.datetime(2005, 6, 19, 14, 53, 24), Decimal('2.99')),
 (2749, datetime.datetime(2005, 6, 19, 16, 27, 35), Decimal('2.99')),
 (3245, datetime.datetime(2005, 6, 21, 3, 6, 11), Decimal('2.99')),
 (1329, datetime.datetime(2005, 6, 15, 11, 25, 6), Decimal('4.99')),
 (1770, datetime.datetime(2005, 6, 16, 18, 7, 55), Decimal('1.99')),
 (2401, datetime.datetime(2005, 6, 18, 16, 22, 3), Decimal('0.99')),
 (2736, datetime.datetime(2005, 6, 19, 15, 43, 20), Decimal('4.99')),
 (1492, datetime.datetime(2005, 6, 15, 21, 48, 35), Decimal('0.99')),
 (2402, datetime.datetime(2005, 6, 18, 16, 24, 45), Decimal('6.99')),
 (2541, datetime.datetime(2005, 6, 19, 2, 8, 10), Decimal('3.99')),
 (2780, datetime.datetime(2005, 6, 19, 18, 19, 33), Decimal('6.99')),
 (2353, datetime.datetime(2005, 6, 18, 12, 53, 25), Decimal('4.99')),
 (2558, datetime.datetime(2005, 6, 19, 3, 9, 16), Decimal('1.99')),
 (2851, datetime.datetime(2005, 6, 19, 23, 7, 3), Decimal('2.99')),
 (3303, datetime.datetime(2005, 6, 21, 7, 34, 14), Decimal('2.99')),
 (1429, datetime.datetime(2005, 6, 15, 18, 24, 10), Decimal('2.99')),
 (1529, datetime.datetime(2005, 6, 16, 0, 37, 35), Decimal('2.99')),
 (1615, datetime.datetime(2005, 6, 16, 7, 0, 28), Decimal('2.99')),
 (3197, datetime.datetime(2005, 6, 21, 0, 7, 23), Decimal('2.99')),
 (3393, datetime.datetime(2005, 6, 21, 15, 14, 27), Decimal('2.99')),
 (1426, datetime.datetime(2005, 6, 15, 18, 16, 24), Decimal('4.99')),
 (1569, datetime.datetime(2005, 6, 16, 3, 19, 9), Decimal('4.99')),
 (1847, datetime.datetime(2005, 6, 17, 0, 5, 22), Decimal('4.99')),
 (2540, datetime.datetime(2005, 6, 19, 2, 4, 48), Decimal('4.99')),
 (3281, datetime.datetime(2005, 6, 21, 6, 8, 47), Decimal('2.99')),
 (1722, datetime.datetime(2005, 6, 16, 15, 12, 52), Decimal('2.99')),
 (2442, datetime.datetime(2005, 6, 18, 18, 49, 18), Decimal('2.99')),
 (2606, datetime.datetime(2005, 6, 19, 6, 51, 32), Decimal('4.99')),
 (2857, datetime.datetime(2005, 6, 19, 23, 15, 15), Decimal('4.99')),
 (2962, datetime.datetime(2005, 6, 20, 7, 31, 55), Decimal('3.99')),
 (1303, datetime.datetime(2005, 6, 15, 9, 55, 57), Decimal('1.99')),
 (1578, datetime.datetime(2005, 6, 16, 4, 8, 16), Decimal('6.99')),
 (1983, datetime.datetime(2005, 6, 17, 10, 22, 13), Decimal('4.99')),
 (2525, datetime.datetime(2005, 6, 19, 0, 48, 22), Decimal('2.99')),
 (3156, datetime.datetime(2005, 6, 20, 21, 3, 46), Decimal('0.99')),
 (1401, datetime.datetime(2005, 6, 15, 16, 30, 22), Decimal('1.99')),
 (2214, datetime.datetime(2005, 6, 18, 2, 44, 37), Decimal('0.99')),
 (3078, datetime.datetime(2005, 6, 20, 15, 9, 48), Decimal('0.99')),
 (1186, datetime.datetime(2005, 6, 15, 0, 56, 45), Decimal('0.99')),
 (1513, datetime.datetime(2005, 6, 15, 22, 53, 30), Decimal('9.99')),
 (2531, datetime.datetime(2005, 6, 19, 1, 20, 49), Decimal('4.99')),
 (2694, datetime.datetime(2005, 6, 19, 13, 17, 21), Decimal('4.99')),
 (2744, datetime.datetime(2005, 6, 19, 16, 20, 40), Decimal('4.99')),
 (3275, datetime.datetime(2005, 6, 21, 5, 33, 4), Decimal('4.99')),
 (1224, datetime.datetime(2005, 6, 15, 3, 44, 25), Decimal('0.99')),
 (1190, datetime.datetime(2005, 6, 15, 1, 5, 32), Decimal('6.99')),
 (1212, datetime.datetime(2005, 6, 15, 3, 3, 33), Decimal('2.99')),
 (1218, datetime.datetime(2005, 6, 15, 3, 24, 44), Decimal('1.99')),
 (1573, datetime.datetime(2005, 6, 16, 3, 31, 39), Decimal('6.99')),
 (1675, datetime.datetime(2005, 6, 16, 11, 4, 47), Decimal('5.99')),
 (2837, datetime.datetime(2005, 6, 19, 22, 3, 50), Decimal('0.99')),
 (3176, datetime.datetime(2005, 6, 20, 22, 31, 54), Decimal('3.99')),
 (3396, datetime.datetime(2005, 6, 21, 15, 23, 8), Decimal('0.99')),
 (2315, datetime.datetime(2005, 6, 18, 9, 3, 39), Decimal('2.99')),
 (2959, datetime.datetime(2005, 6, 20, 7, 7, 54), Decimal('4.99')),
 (3283, datetime.datetime(2005, 6, 21, 6, 19, 7), Decimal('3.99')),
 (1472, datetime.datetime(2005, 6, 15, 20, 54, 55), Decimal('6.99')),
 (3161, datetime.datetime(2005, 6, 20, 21, 21, 1), Decimal('2.99')),
 (1548, datetime.datetime(2005, 6, 16, 1, 43, 33), Decimal('1.99')),
 (2046, datetime.datetime(2005, 6, 17, 14, 39, 50), Decimal('1.99')),
 (2487, datetime.datetime(2005, 6, 18, 21, 32, 54), Decimal('4.99')),
 (2641, datetime.datetime(2005, 6, 19, 9, 38, 33), Decimal('2.99')),
 (1404, datetime.datetime(2005, 6, 15, 16, 38, 53), Decimal('2.99')),
 (1499, datetime.datetime(2005, 6, 15, 21, 58, 7), Decimal('5.99')),
 (2236, datetime.datetime(2005, 6, 18, 4, 12, 33), Decimal('4.99')),
 (1208, datetime.datetime(2005, 6, 15, 2, 30, 3), Decimal('0.99')),
 (2779, datetime.datetime(2005, 6, 19, 18, 19, 7), Decimal('0.99')),
 (2556, datetime.datetime(2005, 6, 19, 3, 7, 32), Decimal('3.99')),
 (3080, datetime.datetime(2005, 6, 20, 15, 22, 32), Decimal('1.99')),
 (3086, datetime.datetime(2005, 6, 20, 15, 42, 40), Decimal('0.99')),
 (3136, datetime.datetime(2005, 6, 20, 19, 39, 8), Decimal('2.99')),
 (3443, datetime.datetime(2005, 6, 21, 20, 19), Decimal('4.99')),
 (1623, datetime.datetime(2005, 6, 16, 7, 48, 50), Decimal('4.99')),
 (1662, datetime.datetime(2005, 6, 16, 10, 13, 35), Decimal('5.99')),
 (2134, datetime.datetime(2005, 6, 17, 21, 13, 44), Decimal('7.99')),
 (2713, datetime.datetime(2005, 6, 19, 14, 23, 9), Decimal('4.99')),
 (1383, datetime.datetime(2005, 6, 15, 15, 20, 6), Decimal('8.99')),
 (2313, datetime.datetime(2005, 6, 18, 8, 56, 45), Decimal('5.99')),
 (2926, datetime.datetime(2005, 6, 20, 4, 37, 45), Decimal('2.99')),
 (1868, datetime.datetime(2005, 6, 17, 2, 3, 22), Decimal('3.99')),
 (1984, datetime.datetime(2005, 6, 17, 10, 25, 28), Decimal('2.99')),
 (2018, datetime.datetime(2005, 6, 17, 12, 35, 58), Decimal('3.99')),
 (2440, datetime.datetime(2005, 6, 18, 18, 41, 9), Decimal('2.99')),
 (2464, datetime.datetime(2005, 6, 18, 20, 6, 5), Decimal('4.99')),
 (2998, datetime.datetime(2005, 6, 20, 9, 30, 22), Decimal('1.99')),
 (3099, datetime.datetime(2005, 6, 20, 16, 44, 33), Decimal('1.99')),
 (3260, datetime.datetime(2005, 6, 21, 3, 59, 13), Decimal('4.99')),
 (1402, datetime.datetime(2005, 6, 15, 16, 31, 8), Decimal('3.99')),
 (1878, datetime.datetime(2005, 6, 17, 2, 55, 32), Decimal('1.99')),
 (2410, datetime.datetime(2005, 6, 18, 16, 55, 8), Decimal('2.99')),
 (2418, datetime.datetime(2005, 6, 18, 17, 14, 42), Decimal('4.99')),
 (3425, datetime.datetime(2005, 6, 21, 18, 7, 7), Decimal('2.99')),
 (2389, datetime.datetime(2005, 6, 18, 15, 27, 47), Decimal('0.99')),
 (2468, datetime.datetime(2005, 6, 18, 20, 23, 52), Decimal('4.99')),
 (2489, datetime.datetime(2005, 6, 18, 22, 0, 44), Decimal('1.99')),
 (2514, datetime.datetime(2005, 6, 18, 23, 56, 44), Decimal('2.99')),
 (3125, datetime.datetime(2005, 6, 20, 18, 31, 58), Decimal('4.99')),
 (1831, datetime.datetime(2005, 6, 16, 22, 22, 17), Decimal('7.99')),
 (2228, datetime.datetime(2005, 6, 18, 3, 44, 50), Decimal('2.99')),
 (2252, datetime.datetime(2005, 6, 18, 5, 5, 18), Decimal('2.99')),
 (2318, datetime.datetime(2005, 6, 18, 9, 13, 54), Decimal('2.99')),
 (2609, datetime.datetime(2005, 6, 19, 7, 13, 12), Decimal('7.99')),
 (3091, datetime.datetime(2005, 6, 20, 16, 2, 59), Decimal('2.99')),
 (1961, datetime.datetime(2005, 6, 17, 9, 2, 58), Decimal('0.99')),
 (2020, datetime.datetime(2005, 6, 17, 12, 39, 50), Decimal('0.99')),
 (2378, datetime.datetime(2005, 6, 18, 14, 57, 49), Decimal('7.99')),
 (2510, datetime.datetime(2005, 6, 18, 23, 44, 21), Decimal('5.99')),
 (2935, datetime.datetime(2005, 6, 20, 5, 7, 24), Decimal('3.99')),
 (3088, datetime.datetime(2005, 6, 20, 15, 56, 5), Decimal('9.99')),
 (3101, datetime.datetime(2005, 6, 20, 16, 48, 58), Decimal('4.99')),
 (1746, datetime.datetime(2005, 6, 16, 16, 41, 19), Decimal('2.99')),
 (1937, datetime.datetime(2005, 6, 17, 7, 16, 46), Decimal('0.99')),
 (3105, datetime.datetime(2005, 6, 20, 17, 11, 46), Decimal('0.99')),
 (1585, datetime.datetime(2005, 6, 16, 4, 51, 13), Decimal('3.99')),
 (1608, datetime.datetime(2005, 6, 16, 6, 28, 57), Decimal('2.99')),
 (1819, datetime.datetime(2005, 6, 16, 21, 32, 50), Decimal('5.99')),
 (2732, datetime.datetime(2005, 6, 19, 15, 19, 39), Decimal('0.99')),
 (3351, datetime.datetime(2005, 6, 21, 11, 21, 39), Decimal('2.99')),
 (1464, datetime.datetime(2005, 6, 15, 20, 38, 14), Decimal('0.99')),
 (1465, datetime.datetime(2005, 6, 15, 20, 43, 8), Decimal('0.99')),
 (2068, datetime.datetime(2005, 6, 17, 16, 11, 46), Decimal('0.99')),
 (2100, datetime.datetime(2005, 6, 17, 18, 53, 21), Decimal('0.99')),
 (2981, datetime.datetime(2005, 6, 20, 8, 35, 17), Decimal('5.99')),
 (3378, datetime.datetime(2005, 6, 21, 13, 51, 28), Decimal('4.99')),
 (1276, datetime.datetime(2005, 6, 15, 8, 0, 13), Decimal('6.99')),
 (2145, datetime.datetime(2005, 6, 17, 22, 10, 36), Decimal('0.99')),
 (2537, datetime.datetime(2005, 6, 19, 1, 52, 21), Decimal('5.99')),
 (2692, datetime.datetime(2005, 6, 19, 13, 8, 19), Decimal('4.99')),
 (3159, datetime.datetime(2005, 6, 20, 21, 11, 50), Decimal('7.99')),
 (1763, datetime.datetime(2005, 6, 16, 17, 51, 1), Decimal('4.99')),
 (1946, datetime.datetime(2005, 6, 17, 7, 58, 39), Decimal('4.99')),
 (2552, datetime.datetime(2005, 6, 19, 3, 1, 29), Decimal('3.99')),
 (1539, datetime.datetime(2005, 6, 16, 1, 11, 25), Decimal('5.99')),
 (1730, datetime.datetime(2005, 6, 16, 15, 30, 1), Decimal('2.99')),
 (1893, datetime.datetime(2005, 6, 17, 4, 18, 37), Decimal('2.99')),
 (2330, datetime.datetime(2005, 6, 18, 10, 41, 19), Decimal('7.99')),
 (3147, datetime.datetime(2005, 6, 20, 20, 25, 17), Decimal('5.99')),
 (1232, datetime.datetime(2005, 6, 15, 4, 18, 10), Decimal('0.99')),
 (1931, datetime.datetime(2005, 6, 17, 6, 51, 56), Decimal('0.99')),
 (2045, datetime.datetime(2005, 6, 17, 14, 38, 11), Decimal('2.99')),
 (2690, datetime.datetime(2005, 6, 19, 13, 0, 2), Decimal('2.99')),
 (3163, datetime.datetime(2005, 6, 20, 21, 22, 13), Decimal('2.99')),
 (1530, datetime.datetime(2005, 6, 16, 0, 38, 7), Decimal('6.99')),
 (1764, datetime.datetime(2005, 6, 16, 17, 51, 54), Decimal('2.99')),
 (2289, datetime.datetime(2005, 6, 18, 7, 29, 43), Decimal('2.99')),
 (2890, datetime.datetime(2005, 6, 20, 2, 0, 45), Decimal('4.99')),
 (1611, datetime.datetime(2005, 6, 16, 6, 41, 35), Decimal('6.99')),
 (1915, datetime.datetime(2005, 6, 17, 5, 28, 28), Decimal('1.99')),
 (2219, datetime.datetime(2005, 6, 18, 3, 16, 54), Decimal('2.99')),
 (2319, datetime.datetime(2005, 6, 18, 9, 24, 22), Decimal('4.99')),
 (3001, datetime.datetime(2005, 6, 20, 9, 50, 16), Decimal('2.99')),
 (1324, datetime.datetime(2005, 6, 15, 11, 2, 45), Decimal('4.99')),
 (1270, datetime.datetime(2005, 6, 15, 7, 30, 22), Decimal('0.99')),
 (1562, datetime.datetime(2005, 6, 16, 2, 46, 27), Decimal('0.99')),
 (1603, datetime.datetime(2005, 6, 16, 6, 14, 3), Decimal('0.99')),
 (3030, datetime.datetime(2005, 6, 20, 11, 51, 59), Decimal('4.99')),
 (3310, datetime.datetime(2005, 6, 21, 8, 4, 51), Decimal('0.99')),
 (3389, datetime.datetime(2005, 6, 21, 14, 37, 55), Decimal('6.99')),
 (1370, datetime.datetime(2005, 6, 15, 14, 31, 5), Decimal('1.99')),
 (1385, datetime.datetime(2005, 6, 15, 15, 28, 23), Decimal('4.99')),
 (1408, datetime.datetime(2005, 6, 15, 16, 57, 58), Decimal('6.99')),
 (1769, datetime.datetime(2005, 6, 16, 18, 7, 48), Decimal('5.99')),
 (3027, datetime.datetime(2005, 6, 20, 11, 50, 30), Decimal('1.99')),
 (1228, datetime.datetime(2005, 6, 15, 3, 50, 36), Decimal('2.99')),
 (2087, datetime.datetime(2005, 6, 17, 17, 35, 10), Decimal('6.99')),
 (3141, datetime.datetime(2005, 6, 20, 19, 55, 47), Decimal('9.99')),
 (2961, datetime.datetime(2005, 6, 20, 7, 29, 15), Decimal('2.99')),
 (3036, datetime.datetime(2005, 6, 20, 12, 18, 31), Decimal('5.99')),
 (1364, datetime.datetime(2005, 6, 15, 14, 5, 32), Decimal('0.99')),
 (1917, datetime.datetime(2005, 6, 17, 5, 36, 7), Decimal('3.99')),
 (1923, datetime.datetime(2005, 6, 17, 6, 6, 10), Decimal('6.99')),
 (1194, datetime.datetime(2005, 6, 15, 1, 25, 8), Decimal('4.99')),
 (2490, datetime.datetime(2005, 6, 18, 22, 0, 50), Decimal('4.99')),
 (2913, datetime.datetime(2005, 6, 20, 3, 42, 27), Decimal('2.99')),
 (1221, datetime.datetime(2005, 6, 15, 3, 35, 16), Decimal('4.99')),
 (1249, datetime.datetime(2005, 6, 15, 5, 38, 9), Decimal('8.99')),
 (2488, datetime.datetime(2005, 6, 18, 21, 38, 26), Decimal('3.99')),
 (2927, datetime.datetime(2005, 6, 20, 4, 41, 41), Decimal('4.99')),
 (3049, datetime.datetime(2005, 6, 20, 12, 51, 1), Decimal('6.99')),
 (3356, datetime.datetime(2005, 6, 21, 11, 38, 45), Decimal('5.99')),
 (1506, datetime.datetime(2005, 6, 15, 22, 19, 37), Decimal('2.99')),
 (1840, datetime.datetime(2005, 6, 16, 23, 39, 34), Decimal('4.99')),
 (2715, datetime.datetime(2005, 6, 19, 14, 29, 35), Decimal('4.99')),
 (2951, datetime.datetime(2005, 6, 20, 6, 23, 1), Decimal('2.99')),
 (1315, datetime.datetime(2005, 6, 15, 10, 23, 8), Decimal('4.99')),
 (1888, datetime.datetime(2005, 6, 17, 3, 58, 36), Decimal('0.99')),
 (1953, datetime.datetime(2005, 6, 17, 8, 34, 57), Decimal('5.99')),
 (2654, datetime.datetime(2005, 6, 19, 10, 37, 54), Decimal('3.99')),
 (3240, datetime.datetime(2005, 6, 21, 2, 53, 17), Decimal('4.99')),
 (3253, datetime.datetime(2005, 6, 21, 3, 25, 37), Decimal('5.99')),
 (2113, datetime.datetime(2005, 6, 17, 19, 57, 46), Decimal('4.99')),
 (2150, datetime.datetime(2005, 6, 17, 22, 50, 36), Decimal('3.99')),
 (2241, datetime.datetime(2005, 6, 18, 4, 31, 41), Decimal('2.99')),
 (2325, datetime.datetime(2005, 6, 18, 10, 8, 7), Decimal('0.99')),
 (2585, datetime.datetime(2005, 6, 19, 5, 5, 3), Decimal('0.99')),
 (3186, datetime.datetime(2005, 6, 20, 23, 4, 20), Decimal('7.99')),
 (3306, datetime.datetime(2005, 6, 21, 7, 46, 58), Decimal('4.99')),
 (1698, datetime.datetime(2005, 6, 16, 13, 4, 42), Decimal('2.99')),
 (2597, datetime.datetime(2005, 6, 19, 5, 53, 46), Decimal('0.99')),
 (2479, datetime.datetime(2005, 6, 18, 21, 3, 8), Decimal('4.99')),
 (2564, datetime.datetime(2005, 6, 19, 3, 41, 10), Decimal('2.99')),
 (2728, datetime.datetime(2005, 6, 19, 15, 4, 4), Decimal('2.99')),
 (1226, datetime.datetime(2005, 6, 15, 3, 46, 10), Decimal('5.99')),
 (2310, datetime.datetime(2005, 6, 18, 8, 45, 59), Decimal('8.99')),
 (1514, datetime.datetime(2005, 6, 15, 22, 57, 34), Decimal('2.99')),
 (2073, datetime.datetime(2005, 6, 17, 16, 33, 59), Decimal('2.99')),
 (2255, datetime.datetime(2005, 6, 18, 5, 21, 12), Decimal('4.99')),
 (2400, datetime.datetime(2005, 6, 18, 16, 10, 46), Decimal('5.99')),
 (2971, datetime.datetime(2005, 6, 20, 7, 56), Decimal('0.99')),
 (3249, datetime.datetime(2005, 6, 21, 3, 13, 19), Decimal('4.99')),
 (1985, datetime.datetime(2005, 6, 17, 10, 31, 37), Decimal('0.99')),
 (1997, datetime.datetime(2005, 6, 17, 11, 19, 43), Decimal('2.99')),
 (2712, datetime.datetime(2005, 6, 19, 14, 20, 13), Decimal('0.99')),
 (3292, datetime.datetime(2005, 6, 21, 6, 59, 11), Decimal('2.99')),
 (2130, datetime.datetime(2005, 6, 17, 21, 0, 44), Decimal('5.99')),
 (2545, datetime.datetime(2005, 6, 19, 2, 23, 36), Decimal('4.99')),
 (2246, datetime.datetime(2005, 6, 18, 4, 54, 29), Decimal('4.99')),
 (2559, datetime.datetime(2005, 6, 19, 3, 9, 46), Decimal('9.99')),
 (3318, datetime.datetime(2005, 6, 21, 8, 23, 5), Decimal('5.99')),
 (1867, datetime.datetime(2005, 6, 17, 2, 1, 37), Decimal('4.99')),

**Query:** Find names of all action movies

In [ ]:
%%sql select title, name 
from film, film_category, category 
where film.film_id = film_category.film_id 
    and film_category.category_id = category.category_id 
    and name = 'Action';

### The Rename Operation
- SQL allows renaming relations and attributes using the **as** clause
- *Note* the **as** is an optional and may be omitted

**Query:** Find all films that have a longer duration than some PG rated film.

In [ ]:
%%sql select distinct X.title
from film as X, film Y
where X.length > Y.length and Y.rating = 'PG'

### Joins
- **Join operation** take two relations and return as a
result another relation.
- A join operation is a Cartesian product which requires
that tuples in the two relations match (under some
condition). It also specifies the attributes that are
present in the result of the join
- The join operations are typically used as subquery
expressions in the from clause
- Three types of joins:
    * Natural join
    * Inner join
    * Outer join

**Query:** List names of actors along with film ID of the films they have acted in

In [ ]:
%%sql
select film_id, first_name, last_name
from film_actor, actor
where film_actor.actor_id = actor.actor_id

**Q:** Why does the query below have empty result?

In [ ]:
%%sql
select film_id, first_name, last_name
from film_actor natural join actor

**Query** Retrieve information about rentals and corresponding payments made.

In [ ]:
%%sql SELECT rental.rental_id, rental.rental_date, payment.amount
from rental
join payment on rental.rental_id = payment.rental_id

**Query:** Retrieve all customers and their corresponding rentals, even if they have not rented any films. *Here we can use the left outer join between customer and rental tables.*

In [ ]:
%%sql SELECT customer.customer_id, customer.first_name, customer.last_name,
rental.rental_id, rental.rental_date
FROM customer
LEFT JOIN rental ON customer.customer_id = rental.customer_id;

### Grouping and Aggregation

- Aggregate functions operator on the multiset of values of a column of a relation, and return a value
    * `avg`: average value
    * `min`: minimum value
    * `max`: maximum value
    * `sum`: sum of values
    * `count`: number of values

**Query** find the average rental duration of a PG rated film.

In [25]:
%%sql 
select avg(rental_duration) as average_duration
from film
where rating = 'PG'

 * postgresql://postgres:***@localhost:5432/testdb
1 rows affected.

[(Decimal('5.0824742268041237'),)]

**Query** Find total number of customers who made a payment of more than 10. *What happens when you remove the `distinct` keyword?*

In [26]:
%%sql
select count (distinct customer_id)
from payment
where amount > 10

 * postgresql://postgres:***@localhost:5432/testdb
1 rows affected.

[(101,)]

**Query:** find the total number of films

In [27]:
%sql select count(*) from film;

 * postgresql://postgres:***@localhost:5432/testdb
1 rows affected.

[(1000,)]

**Query:** What is the total amount payed by each customer
- Here the `order by` clause lists tuples in ascending order. 
- We can also specify `order by customer_id desc`

In [ ]:
%%sql select customer_id, sum(amount) 
from payment 
group by customer_id 
order by customer_id

**Query:** For each store, find the number of customers that are the members of that store

In [28]:
%%sql select store_id, count(customer_id) 
from customer 
group by store_id

 * postgresql://postgres:***@localhost:5432/testdb
2 rows affected.

[(1, 326), (2, 273)]

**Query** Retrieve each movie and the number of times it got rented

In [12]:
%%sql select film_id, count(film_id) 
from rental r join inventory i on r.inventory_id = i.inventory_id 
group by film_id 
order by film_id;

 * postgresql://postgres:***@localhost:5432/testdb
958 rows affected.

[(1, 23),
 (2, 7),
 (3, 12),
 (4, 23),
 (5, 12),
 (6, 21),
 (7, 15),
 (8, 18),
 (9, 12),
 (10, 23),
 (11, 24),
 (12, 26),
 (13, 9),
 (15, 22),
 (16, 14),
 (17, 18),
 (18, 22),
 (19, 21),
 (20, 10),
 (21, 22),
 (22, 21),
 (23, 21),
 (24, 14),
 (25, 22),
 (26, 22),
 (27, 13),
 (28, 15),
 (29, 10),
 (30, 9),
 (31, 31),
 (32, 6),
 (34, 13),
 (35, 24),
 (37, 21),
 (39, 21),
 (40, 16),
 (42, 16),
 (43, 24),
 (44, 16),
 (45, 24),
 (46, 11),
 (47, 8),
 (48, 19),
 (49, 21),
 (50, 16),
 (51, 23),
 (52, 8),
 (53, 7),
 (54, 22),
 (55, 25),
 (56, 18),
 (57, 21),
 (58, 17),
 (59, 22),
 (60, 11),
 (61, 22),
 (62, 6),
 (63, 13),
 (64, 11),
 (65, 13),
 (66, 10),
 (67, 21),
 (68, 15),
 (69, 21),
 (70, 17),
 (71, 13),
 (72, 19),
 (73, 29),
 (74, 11),
 (75, 11),
 (76, 9),
 (77, 18),
 (78, 27),
 (79, 22),
 (80, 12),
 (81, 14),
 (82, 10),
 (83, 21),
 (84, 15),
 (85, 16),
 (86, 29),
 (88, 12),
 (89, 22),
 (90, 18),
 (91, 24),
 (92, 11),
 (93, 12),
 (94, 5),
 (95, 17),
 (96, 13),
 (97, 19),
 (98, 13),
 (99, 20),
 (100, 21),
 (101, 26),
 (102, 6),
 (103, 34),
 (104, 11),
 (105, 16),
 (106, 7),
 (107, 5),
 (109, 30),
 (110, 15),
 (111, 16),
 (112, 21),
 (113, 12),
 (114, 27),
 (115, 19),
 (116, 18),
 (117, 23),
 (118, 19),
 (119, 24),
 (120, 9),
 (121, 18),
 (122, 23),
 (123, 16),
 (124, 8),
 (125, 6),
 (126, 9),
 (127, 30),
 (129, 21),
 (130, 24),
 (131, 24),
 (132, 21),
 (133, 13),
 (134, 13),
 (135, 27),
 (136, 8),
 (137, 15),
 (138, 21),
 (139, 20),
 (140, 20),
 (141, 16),
 (142, 22),
 (143, 22),
 (145, 13),
 (146, 8),
 (147, 20),
 (149, 21),
 (150, 19),
 (151, 13),
 (152, 15),
 (153, 13),
 (154, 25),
 (155, 18),
 (156, 7),
 (157, 10),
 (158, 19),
 (159, 28),
 (160, 19),
 (161, 7),
 (162, 25),
 (163, 8),
 (164, 21),
 (165, 16),
 (166, 24),
 (167, 26),
 (168, 6),
 (169, 17),
 (170, 16),
 (172, 25),
 (173, 14),
 (174, 29),
 (175, 17),
 (176, 22),
 (177, 13),
 (178, 7),
 (179, 16),
 (180, 5),
 (181, 26),
 (182, 7),
 (183, 17),
 (184, 18),
 (185, 7),
 (186, 16),
 (187, 11),
 (188, 9),
 (189, 16),
 (190, 14),
 (191, 23),
 (193, 21),
 (194, 12),
 (196, 7),
 (197, 8),
 (199, 23),
 (200, 27),
 (201, 15),
 (202, 13),
 (203, 16),
 (204, 20),
 (205, 14),
 (206, 27),
 (207, 12),
 (208, 9),
 (209, 13),
 (210, 11),
 (211, 9),
 (212, 18),
 (213, 13),
 (214, 9),
 (215, 18),
 (216, 14),
 (218, 21),
 (219, 14),
 (220, 29),
 (222, 19),
 (223, 8),
 (224, 6),
 (225, 8),
 (226, 16),
 (227, 19),
 (228, 27),
 (229, 15),
 (230, 9),
 (231, 20),
 (232, 15),
 (233, 19),
 (234, 26),
 (235, 21),
 (236, 15),
 (237, 7),
 (238, 7),
 (239, 30),
 (240, 9),
 (241, 14),
 (242, 21),
 (243, 19),
 (244, 27),
 (245, 25),
 (246, 10),
 (247, 25),
 (248, 7),
 (249, 21),
 (250, 11),
 (251, 18),
 (252, 22),
 (253, 24),
 (254, 18),
 (255, 21),
 (256, 9),
 (257, 11),
 (258, 13),
 (259, 6),
 (260, 16),
 (261, 7),
 (262, 6),
 (263, 26),
 (264, 9),
 (265, 17),
 (266, 25),
 (267, 22),
 (268, 7),
 (269, 19),
 (270, 23),
 (271, 23),
 (272, 15),
 (273, 25),
 (274, 21),
 (275, 17),
 (276, 10),
 (277, 14),
 (278, 7),
 (279, 10),
 (280, 21),
 (281, 19),
 (282, 19),
 (283, 11),
 (284, 29),
 (285, 30),
 (286, 18),
 (287, 15),
 (288, 25),
 (289, 7),
 (290, 13),
 (291, 12),
 (292, 21),
 (293, 13),
 (294, 18),
 (295, 28),
 (296, 13),
 (297, 6),
 (298, 19),
 (299, 17),
 (300, 22),
 (301, 29),
 (302, 19),
 (303, 26),
 (304, 24),
 (305, 28),
 (306, 11),
 (307, 26),
 (308, 17),
 (309, 25),
 (310, 5),
 (311, 19),
 (312, 10),
 (313, 21),
 (314, 22),
 (315, 12),
 (316, 7),
 (317, 21),
 (319, 25),
 (320, 23),
 (321, 13),
 (322, 22),
 (323, 12),
 (324, 17),
 (326, 20),
 (327, 23),
 (328, 13),
 (329, 18),
 (330, 27),
 (331, 32),
 (333, 17),
 (334, 23),
 (335, 5),
 (336, 17),
 (337, 11),
 (338, 9),
 (339, 10),
 (340, 6),
 (341, 30),
 (342, 11),
 (343, 5),
 (344, 19),
 (345, 19),
 (346, 18),
 (347, 14),
 (348, 17),
 (349, 27),
 (350, 20),
 (351, 16),
 (352, 11),
 (353, 23),
 (354, 21),
 (355, 9),
 (356, 28),
 (357, 9),
 (358, 28),
 (360, 14),
 (361, 29),
 (362, 5),
 (363, 20),
 (364, 8),
 (365, 14),
 (366, 24),
 (367, 27),
 (368, 10),
 (369, 31),
 (370, 19),
 (371, 8),
 (372, 6),
 (373, 16),
 (374, 30),
 (375, 10),
 (376, 22),
 (377, 21),
 (378, 29),
 (379, 14),
 (380, 17),
 (381, 14),
 (382, 32),
 (383, 18),
 (384, 8),
 (385, 18),
 (387, 25),
 (388, 24),
 (389, 12),
 (390, 9),
 (391, 26),
 (392, 16),
 (393, 10),
 (394, 14),
 (395, 28),
 (396, 19),
 (397, 26),
 (398, 17),
 (399, 6),
 (400, 4),
 (401, 8),
 (402, 20),
 (403, 30),
 (405, 6),
 (406, 22),
 (407, 7),
 (408, 22),
 (409, 20),
 (410, 18),
 (411, 7),
 (412, 23),
 (413, 12),
 (414, 20),
 (415, 22),
 (416, 21),
 (417, 25),
 (418, 31),
 (420, 15),
 (421, 15),
 (422, 10),
 (423, 13),
 (424, 17),
 (425, 9),
 (426, 14),
 (427, 16),
 (428, 22),
 (429, 19),
 (430, 13),
 (431, 8),
 (432, 18),
 (433, 24),
 (434, 27),
 (435, 9),
 (436, 19),
 (437, 23),
 (438, 15),
 (439, 20),
 (440, 13),
 (441, 5),
 (442, 15),
 (443, 24),
 (444, 22),
 (445, 26),
 (446, 15),
 (447, 24),
 (448, 17),
 (449, 13),
 (450, 30),
 (451, 19),
 (452, 15),
 (453, 14),
 (454, 9),
 (455, 14),
 (456, 18),
 (457, 19),
 (458, 16),
 (459, 5),
 (460, 26),
 (461, 18),
 (462, 20),
 (463, 18),
 (464, 17),
 (465, 20),
 (466, 9),
 (467, 20),
 (468, 27),
 (469, 11),
 (470, 7),
 (471, 26),
 (472, 6),
 (473, 18),
 (474, 18),
 (475, 6),
 (476, 24),
 (477, 10),
 (478, 14),
 (479, 19),
 (480, 16),
 (481, 17),
 (482, 10),
 (483, 17),
 (484, 20),
 (485, 6),
 (486, 20),
 (487, 13),
 (488, 17),
 (489, 32),
 (490, 8),
 (491, 24),
 (492, 9),
 (493, 14),
 (494, 23),
 (496, 20),
 (498, 6),
 (499, 9),
 (500, 22),
 (501, 20),
 (502, 24),
 (503, 9),
 (504, 23),
 (505, 15),
 (506, 17),
 (507, 6),
 (508, 10),
 (509, 11),
 (510, 17),
 (511, 13),
 (512, 17),
 (513, 7),
 (514, 21),
 (515, 9),
 (516, 9),
 (517, 7),
 (518, 22),
 (519, 12),
 (520, 7),
 (521, 27),
 (522, 10),
 (523, 8),
 (524, 18),
 (525, 27),
 (526, 16),
 (527, 24),
 (528, 10),
 (529, 15),
 (530, 11),
 (531, 27),
 (532, 15),
 (533, 12),
 (534, 17),
 (535, 20),
 (536, 14),
 (537, 10),
 (538, 12),
 (539, 10),
 (540, 13),
 (541, 7),
 (542, 15),
 (543, 10),
 (544, 15),
 (545, 25),
 (546, 14),
 (547, 7),
 (548, 8),
 (549, 11),
 (550, 9),
 (551, 24),
 (552, 17),
 (553, 10),
 (554, 26),
 (555, 25),
 (556, 22),
 (557, 15),
 (558, 5),
 (559, 30),
 (560, 19),
 (561, 17),
 (562, 20),
 (563, 30),
 (564, 12),
 (565, 9),
 (566, 8),
 (567, 12),
 (568, 13),
 (569, 7),
 (570, 16),
 (571, 25),
 (572, 26),
 (573, 13),
 (574, 17),
 (575, 22),
 (576, 12),
 (577, 13),
 (578, 20),
 (579, 20),
 (580, 19),
 (581, 12),
 (582, 9),
 (583, 18),
 (584, 4),
 (585, 12),
 (586, 24),
 (587, 11),
 (588, 15),
 (589, 15),
 (590, 20),
 (591, 9),
 (592, 15),
 (593, 13),
 (594, 9),
 (595, 29),
 (596, 21),
 (597, 13),
 (598, 15),
 (599, 14),
 (600, 16),
 (601, 16),
 (602, 21),
 (603, 27),
 (604, 13),
 (605, 7),
 (606, 16),
 (608, 23),
 (609, 30),
 (610, 19),
 (611, 17),
 (612, 5),
 (613, 10),
 (614, 23),
 (615, 15),
 (616, 19),
 (617, 13),
 (618, 15),
 (619, 19),
 (620, 14),
 (621, 31),
 (622, 7),
 (623, 17),
 (624, 25),
 (625, 27),
 (626, 17),
 (627, 11),
 (628, 20),
 (629, 14),
 (630, 10),
 (631, 19),
 (632, 9),
 (633, 11),
 (634, 15),
 (635, 6),
 (636, 10),
 (637, 21),
 (638, 27),
 (639, 13),
 (640, 11),
 (641, 24),
 (643, 17),
 (644, 25),
 (645, 23),
 (646, 23),
 (647, 20),
 (648, 14),
 (649, 24),
 (650, 24),
 (651, 22),
 (652, 14),
 (653, 7),
 (654, 15),
 (655, 15),
 (656, 8),
 (657, 18),
 (658, 14),
 (659, 8),
 (660, 13),
 (661, 13),
 (662, 10),
 (663, 19),
 (664, 16),
 (665, 23),
 (666, 16),
 (667, 14),
 (668, 20),
 (670, 26),
 (672, 17),
 (673, 14),
 (674, 8),
 (675, 6),
 (676, 23),
 (677, 21),
 (678, 16),
 (679, 16),
 (680, 20),
 (681, 21),
 (682, 12),
 (683, 26),
 (684, 7),
 (685, 9),
 (686, 16),
 (687, 26),
 (688, 18),
 (689, 18),
 (690, 19),
 (691, 17),
 (692, 11),
 (693, 17),
 (694, 20),
 (695, 7),
 (696, 16),
 (697, 27),
 (698, 27),
 (699, 5),
 (700, 11),
 (702, 30),
 (703, 8),
 (704, 16),
 (705, 13),
 (706, 22),
 (707, 20),
 (708, 16),
 (709, 18),
 (710, 19),
 (711, 13),
 (714, 9),
 (715, 27),
 (716, 16),
 (717, 17),
 (718, 8),
 (719, 8),
 (720, 20),
 (721, 9),
 (722, 11),
 (723, 20),
 (724, 18),
 (725, 19),
 (726, 10),
 (727, 21),
 (728, 20),
 (729, 11),
 (730, 32),
 (731, 10),
 (732, 15),
 (733, 20),
 (734, 19),
 (735, 31),
 (736, 13),
 (737, 17),
 (738, 33),
 (739, 16),
 (740, 10),
 (741, 24),
 (743, 20),
 (744, 17),
 (745, 28),
 (746, 18),
 (747, 19),
 (748, 30),
 (749, 16),
 (750, 10),
 (751, 8),
 (752, 8),
 (753, 31),
 (754, 6),
 (755, 21),
 (756, 14),
 (757, 16),
 (758, 8),
 (759, 23),
 (760, 25),
 (761, 11),
 (762, 13),
 (763, 17),
 (764, 28),
 (765, 13),
 (766, 12),
 (767, 32),
 (768, 18),
 (769, 6),
 (770, 15),
 (771, 23),
 (772, 22),
 (773, 26),
 (774, 14),
 (775, 24),
 (776, 21),
 (777, 18),
 (778, 20),
 (779, 7),
 (780, 10),
 (781, 5),
 (782, 22),
 (783, 14),
 (784, 14),
 (785, 19),
 (786, 25),
 (787, 8),
 (788, 15),
 (789, 30),
 (790, 24),
 (791, 25),
 (792, 15),
 (793, 14),
 (794, 12),
 (795, 15),
 (796, 15),
 (797, 16),
 (798, 12),
 (799, 6),
 (800, 22),
 (803, 17),
 (804, 24),
 (805, 20),
 (806, 21),
 (807, 21),
 (808, 6),
 (809, 16),
 (810, 24),
 (811, 10),
 (812, 18),
 (813, 12),
 (814, 22),
 (815, 9),
 (816, 23),
 (817, 8),
 (818, 19),
 (819, 11),
 (820, 15),
 (821, 12),
 (822, 8),
 (823, 22),
 (824, 9),
 (825, 12),
 (826, 9),
 (827, 20),
 (828, 13),
 (829, 13),
 (830, 15),
 (831, 11),
 (832, 14),
 (833, 21),
 (834, 10),
 (835, 27),
 (836, 7),
 (837, 10),
 (838, 26),
 (839, 7),
 (840, 14),
 (841, 21),
 (842, 13),
 (843, 23),
 (844, 15),
 (845, 20),
 (846, 21),
 (847, 14),
 (848, 11),
 (849, 29),
 (850, 28),
 (851, 20),
 (852, 24),
 (853, 11),
 (854, 17),
 (855, 16),
 (856, 25),
 (857, 23),
 (858, 15),
 (859, 17),
 (861, 21),
 (862, 16),
 (863, 25),
 (864, 19),
 (865, 24),
 (866, 8),
 (867, 13),
 (868, 10),
 (869, 30),
 (870, 27),
 (871, 18),
 (872, 15),
 (873, 29),
 (875, 29),
 (876, 8),
 (877, 17),
 (878, 17),
 (879, 27),
 (880, 25),
 (881, 12),
 (882, 13),
 (883, 6),
 (884, 6),
 (885, 6),
 (886, 11),
 (887, 19),
 (888, 11),
 (889, 11),
 (890, 26),
 (891, 31),
 (892, 23),
 (893, 29),
 (894, 14),
 (895, 25),
 (896, 15),
 (897, 27),
 (898, 22),
 (899, 11),
 (900, 14),
 (901, 26),
 (902, 25),
 (903, 5),
 (904, 4),
 (905, 11),
 (906, 20),
 (907, 15),
 (908, 16),
 (910, 7),
 (911, 28),
 (912, 19),
 (913, 14),
 (914, 23),
 (915, 23),
 (916, 14),
 (917, 13),
 (918, 11),
 (919, 12),
 (920, 21),
 (921, 14),
 (922, 21),
 (923, 8),
 (924, 18),
 (925, 17),
 (926, 8),
 (927, 16),
 (928, 12),
 (929, 13),
 (930, 21),
 (931, 12),
 (932, 15),
 (933, 12),
 (934, 9),
 (935, 7),
 (936, 18),
 (937, 16),
 (938, 26),
 (939, 8),
 (940, 9),
 (941, 29),
 (942, 15),
 (944, 17),
 (945, 29),
 (946, 14),
 (947, 7),
 (948, 19),
 (949, 22),
 (951, 28),
 (952, 10),
 (953, 21),
 (956, 16),
 (957, 12),
 (958, 27),
 (959, 6),
 (960, 10),
 (961, 23),
 (962, 15),
 (963, 16),
 (964, 17),
 (965, 6),
 (966, 24),
 (967, 18),
 (968, 14),
 (969, 16),
 (970, 26),
 (971, 18),
 (972, 22),
 (973, 31),
 (974, 6),
 (975, 16),
 (976, 23),
 (977, 12),
 (978, 9),
 (979, 30),
 (980, 16),
 (981, 21),
 (982, 23),
 (983, 9),
 (984, 9),
 (985, 22),
 (986, 18),
 (987, 16),
 (988, 15),
 (989, 25),
 (990, 8),
 (991, 16),
 (992, 14),
 (993, 20),
 (994, 13),
 (995, 23),
 (996, 7),
 (997, 6),
 (998, 9),
 (999, 17),
 (1000, 31)]

**Query** Find first names of actors who share it with others.
- What is the having clause doing here? How is it different from where clause?

In [ ]:
%%sql select first_name, count(*) 
from actor 
group by 
first_name 
having count(*) > 1

**Query** Find actors who share their both first and last name.

In [ ]:
%%sql select distinct a1.first_name, a2.last_name 
from actor a1 join actor a2 on a1.actor_id <> a2.actor_id 
and a1.first_name = a2.first_name and a1.last_name = a2.last_name

## Exercises
- Write SQL queries for the following

**Query** Find the total number of films in each category

**Query** Retrieve the top 5 customers who have rented the most films

**Query** List all films that are currently not available for rent

**Query** Show the average rental duration for each film category:

**Query** Write a query that finds the number of movies each actor has acted in

**Query** Write a query that finds names of actors who had more than 40 film releases in a year